<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/welcome.css">
    <title>스포티파이</title>
</head>
<body>
    <div class="wrap">
        <div class="spotify_logo">
            <img src="../static/images/Spotify_logo_white.svg" alt="logo">
        </div>
        <div class="txt">
            <h1>내 마음에 꼭 드는 또 다른 플레이리스트를 발견해보세요.</h1>
        </div>
        <div class="join_form">
            <a href="#" class="btn join_btn">
                <button>가입하기</button>
            </a>
            <a href="#" class="btn">
                <div class="btn_icon">
                    <img src="../static/images/google-icon.svg" alt="google">
                </div>
                <button>Google로 계속하기</button>
            </a>
            <a href="#" class="btn">
                <div class="btn_icon">
                    <img src="../static/images/facebook-icon.svg" alt="facebook">
                </div>
                <button>Facebook으로 계속하기</button>
            </a>
            <a href="#" class="btn">
                <div class="btn_icon">
                    <img src="../static/images/apple-icon.svg" alt="apple">
                </div>
                <button>Apple로 계속하기</button>
            </a>
        </div>
        <a href="#" class="login">로그인하기</a>
    </div>
</body>
</html>