<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/welcome.css">
  <title>스포티파이</title>
</head>
<body>

<h1 style="background: red" id="test">로그인페이지입니123다람쥐</h1>
<form action="/login" method="post">
  <input type="email" name="username" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Login</button>
</form>

</body>
</html>