<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>로그인</title>
</head>
<body>

<div class="wrap">
  <div class="title">
    <i id="prev_btn" class="fa-solid fa-chevron-left"></i>
    <p>로그인하기</p>
  </div>

  <form id="loginForm">
    <div class="login_form">
      <div class="user_email">
        <p>이메일 또는 사용자 이름</p>
        <div class="email_input">
          <input type="text" name="email" autocomplete="off">
        </div>
      </div>
      <div class="user_password">
        <p>비밀번호</p>
        <div class="password_input">
          <input type="password" name="password">
          <i class="fa-regular fa-eye" style="color: #ffffff;"></i>
        </div>
      </div>
      <span id="error_msg"></span>
    </div>
    <button class="login_btn">
        로그인하기
    </button>
  </form>
  <button class="nopassword_login">
    <a href="#">
      비밀번호 없이 로그인하기
    </a>
  </button>
</div>

<script src="https://kit.fontawesome.com/90ada3e0f4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/login.js"></script>

</body>
</html>