<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="https://kit.fontawesome.com/90ada3e0f4.js" crossorigin="anonymous"></script>
    <title>검색하기</title>
</head>
<body>
    <div class="wrap">
        <div class="top_menu">
            <div class="user_name">
                <p>J</p>
            </div>
            <p class="title_txt">검색</p>
            <img src="../static/images/camera.png" alt="카메라">
        </div>
        <!-- 검색창 -->
        <div class="search_bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="어딴 것을 듣고 싶으세요?">
        </div>
        <div class="main">
            <p>모두 둘러보기</p>
            <div class="contents_box">
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="../static/images/Search Link.png" alt="search_link">
                    </a>
                </div>
            </div>
        </div>
        <!-- 푸터 메뉴 -->
        <div class="footer_filtter"></div>
        <div class="footer_menu">
            <ul>
                <li>
                    <a href="home.html">
                        <i class="fa-solid fa-house"></i>
                        <p>홈</p>
                    </a>
                </li>
                <li>
                    <a href="search.html">
                        <i class="fa-solid fa-magnifying-glass" style="color: rgb(255, 255, 255);"></i>
                        <p style="color: rgb(255, 255, 255);">검색하기</p>
                    </a>
                </li>
                <li>
                    <a href="library.html">
                        <i class="fa-regular fa-file"></i>
                        <p>내 라이브러리</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa-brands fa-spotify"></i>
                        <p>프리미엄</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>