<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/welcome.css">
    <title>스포티파이</title>
</head>
<body>
    <div class="wrap">
        <div class="spotify_logo">
            <img src="/images/Spotify_logo_white.svg" alt="logo">
        </div>
        <div class="txt">
            <h1>내 마음에 꼭 드는 또 다른 플레이리스트를 발견해보세요.</h1>
        </div>
        <div class="join_form">
            <a href="#" class="btn join_btn">
                <button>가입하기</button>
            </a>
            <a href="#" class="btn">
                <div class="btn_icon">
                    <img src="/images/google-icon.svg" alt="google">
                </div>
                <button>Google로 계속하기</button>
            </a>
            <a href="#" class="btn">
                <div class="btn_icon">
                    <img src="/images/facebook-icon.svg" alt="facebook">
                </div>
                <button>Facebook으로 계속하기</button>
            </a>
            <a href="#" class="btn">
                <div class="btn_icon">
                    <img src="/images/apple-icon.svg" alt="apple">
                </div>
                <button>Apple로 계속하기</button>
            </a>
        </div>
        <a href="/login" class="login">로그인하기</a>
    </div>

    <form method="post" action="/api/signup">
        <p><input type="email" name="email" value="noah3521@icloud.com"></p>
        <p><input type="password" name="password" value="julia@1004"></p>
        <p><input type="date" name="birth" value="2005-12-30"></p>
        <p><input type="text" name="gender" value="남자"></p>
        <p><input type="submit" value="회원가입"></p>
    </form>

</body>
</html>